@import url(normalize.css);

/* Typography */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto-bold-webfont.woff2') format('woff2'),
    url('fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto-italic-webfont.woff2') format('woff2'),
    url('fonts/roboto-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
  --color-dark-on-light: #424242;
  --color-border: #ccc;
  --border-radius: 40px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
  text-transform: capitalize;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: '↳';
  margin-left: 4px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.8rem;
  }
}

/* Badges */
.badge {
  border-radius: var(--border-radius);
  font-weight: bold;
  padding: 0.5rem 2rem;
  text-transform: capitalize;
  white-space: nowrap;
}

.badge--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: var(--color-dark-on-light);
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-heading);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(assets/tick.svg);
  padding-left: 2rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
    margin-top: 0rem;
  }
}

/* Icons */
.icon {
  width: 4rem;
  height: 4rem;
}

.icon icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f9fa;
}

/* Chevrons */
.chevron-container {
  position: relative;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  background-color: #232323;
}

.chevron {
  font-size: 4rem;
  padding: 0;
  font-weight: lighter;
  position: absolute;
  top: -1.94rem;
  left: 0.3rem;
  color: white;
}

/* Bottons */
.btn {
  border-radius: var(--border-radius);
  border: none;
  font-size: 2rem;
  min-width: 250px;
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.15s;
  white-space: nowrap;
}

.btn:hover {
  cursor: pointer;
}

.btn--primary {
  background-color: var(--color-primary);
  color: white;
}

.btn--primary:hover {
  background-color: #4696ff;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: var(--color-dark-on-light);
}

.btn--secondary:hover {
  background-color: #38e1ff;
}

.btn--accent {
  background-color: var(--color-accent);
  color: white;
}

.btn--accent:hover {
  background-color: #ff4a1c;
}

.btn--search .icon {
  color: white;
  width: 10rem;
}

.btn--block {
  width: 100%;
}

.btn--outline {
  color: var(--color-heading);
  border: 2px solid var(--color-heading);
  background-color: transparent;
}

.btn--outline:hover {
  background-color: var(--color-heading);
  color: white;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.8rem;
  }
}

/* Inputs */
.input {
  border: 2px solid #ccc;
  min-width: 300px;
  border-radius: var(--border-radius);
  padding: 10px;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: #b9b9b9;
  font-size: 20px;
}

.input-group {
  display: flex;
  border-radius: var(--border-radius);
  border: 2px solid var(--color-border);
}

.input-group .input {
  border: none;
  flex-grow: 1;
}

.input-group .btn {
  min-width: fit-content;
  margin: 5px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 2rem;
  }
}

/* Cards */
.card {
  border-radius: 8px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: clip;
}

.card__header,
.card__body {
  padding: 1.5rem 3rem;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: white;
}

.card--primary .badge--primary {
  background-color: #0c76ff;
  color: white;
}

.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: var(--color-dark-on-light);
}

.card--secondary .badge--secondary {
  background-color: #00c9ec;
  color: white;
}

/* Plans */
.plan {
  width: 40rem;
  margin: 5rem;
}

.card--primary .plan__name {
  color: white;
  margin: 0;
  font-weight: normal;
  font-size: 2.4rem;
}

.card--secondary .plan__name {
  color: var(--color-dark-on-light);
  margin: 0;
  font-weight: normal;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 5rem;
}

.plan__billing-cycle {
  opacity: 70%;
  margin-right: 1.6rem;
}

.plan__description {
  display: inline-block;
  font-size: 2rem;
  font-weight: 250;
  letter-spacing: 0.15rem;
}

.plan .list__item {
  margin-bottom: 3rem;
}

.plan .btn {
  margin-top: 3rem;
  padding: 1.5rem;
}

.plan--popular {
  position: relative;
}

.plan--popular .card__header::before {
  content: url(assets/popular.svg);
  position: absolute;
  width: 4.5rem;
  top: -0.3rem;
  right: 4rem;
}

@media screen and (min-width: 1024) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__price {
    font-size: 1.7rem;
  }
}

/* Media Objects */
.media {
  display: flex;
}

.media__image {
  margin: 2rem 2rem 0 0;
}

.media__title {
  margin-top: 0;
}

/* Quotes */
.quote {
  font-size: 3rem;
  color: var(--color-dark-on-light);
  letter-spacing: 0.1rem;
}

.quote__text {
  font-style: italic;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote .media__image {
  margin-top: 0.6rem;
}

.quote .media__title {
  margin-bottom: 0;
}

.quote__organization {
  opacity: 40%;
  color: var(--color-heading);
  font-size: 2rem;
}

@media screen and (min-width: 1024px) {
  .quote__text {
    font-size: 2.2rem;
  }

  .quot .media__title {
    font-size: 2.5rem;
  }

  .quote__organization {
    font-size: 1.6rem;
  }
}

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Testimonial */
.testimonial__image-container {
  position: relative;
}

.testimonial__image {
  width: 100%;
  border-radius: 8px;
}

.testimonial__body .quote {
  margin-left: 7rem;
}

.quote-circle {
  align-items: center;
  background-color: var(--color-accent);
  border-radius: 100%;
  color: white;
  display: flex;
  font-size: 6.5rem;
  font-size: 900;
  height: 9rem;
  justify-content: center;
  top: 5rem;
  right: -4.5rem;
  padding-top: 2rem;
  position: absolute;
  width: 9rem;
}

@media screen and (min-width: 768px) {
  .testimonial .quote__text {
    font-size: 2.6rem;
  }
}

/* Callouts */
.callout {
  padding: 5rem;
  background-color: var(--color-primary);
  color: white;
  border-radius: 8px;
  text-align: center;
}

.callout__content > h2 {
  color: white;
}

.callout__btn {
  justify-self: center;
  align-self: center;
}

.container {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 678px) {
  .callout {
    text-align: initial;
  }

  .callout.grid {
    grid-template-columns: 1fr auto;
  }

  .callout__btn {
    justify-self: left;
    margin-left: 3rem;
  }
}

/* Collapsibles */
.collapsible {
  cursor: pointer;
  user-select: none;
}

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.15s;
}

.collapsible__content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s, opacity 0.15s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  opacity: 100%;
  max-height: 100vh;
  overflow: auto;
}

/* Blocks */
.block {
  --padding-bottom: 6rem;
  padding: var(--padding-bottom) 2rem;
}

.block .block__heading {
  margin-top: 0;
}

.block--dark {
  background-color: #000;
  color: #7b858b;
}

.block--dark .block__heading {
  color: white;
}

.block--skewed-left {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  padding-bottom: calc(--padding-bottom + 3rem);
}

.block--skewed-right {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: calc(--padding-bottom + 3rem);
}

.block__header {
  text-align: center;
}

.container {
  max-width: 1140px;
}
