<section class="block block-domain">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Starting at 9$ a month</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae,
        eveniet.
      </p>
    </header>
    <div class="input-group">
      <input class="input" type="text" placeholder="Enter text here" />
      <button class="btn btn--accent">
        <svg class="icon icon--white" viewBox="0 0 21.8 23.8">
          <use href="../images/search.svg"></use></svg
        >Search
      </button>
    </div>
    <ul class="list block-domain__prices">
      <li>.com 9$</li>
      <span class="badge badge--secondary">
        <li>.sg 10$</li>
      </span>
      <li>.space 11$</li>
      <li>.info 14$</li>
      <li>.net 10$</li>
      <li>.xyz 10$</li>
    </ul>
  </div>
</section>
