<section class="block">
  <header class="block__header">
    <h2>Host On The Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
      exercitationem beatae quasi!
    </p>
  </header>
  <article class="container grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container feature__icon">
        <svg class="icon icon--primary" viewBox="0 0 512 512">
          <use href="../images/easy.svg"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p class="feature__tagline">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique amet
        voluptate asperiores atque dolorem. Vero tempora suscipit officia ipsa
        molestiae.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/easy.png 1x, images/easy@2x.png 2x"
      />
      <img class="content-img" src="images/easy.png" />
    </picture>
  </article>

  <article class="container grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container feature__icon">
        <svg class="icon icon--primary" viewBox="0 0 64 64">
          <use href="../images/computer.svg"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p class="feature__tagline">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique amet
        voluptate asperiores atque dolorem. Vero tempora suscipit officia ipsa
        molestiae.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/fast.webp 1x, images/fast@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/fast.png 1x, images/fast@2x.png 2x"
      />
      <img class="content-img" src="images/fast.png" />
    </picture>
  </article>

  <article class="container grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container feature__icon">
        <svg class="icon icon--primary" viewBox="0 0 485.656 485.656">
          <use href="../images/settings.svg"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p class="feature__tagline">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique amet
        voluptate asperiores atque dolorem. Vero tempora suscipit officia ipsa
        molestiae.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/wordpress.webp 1x, images/wordpress@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/wordpress.png 1x, images/wordpress@2x.png 2x"
      />
      <img class="content-img" src="images/wordpress.png" />
    </picture>
  </article>

  <article class="container grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container feature__icon">
        <svg class="icon icon--primary" viewBox="0 0 501.656 501.656">
          <use href="../images/clock.svg"></use>
        </svg>
      </span>
      <h3 class="feature__heading">24/7 Expert Support</h3>
      <p class="feature__tagline">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique amet
        voluptate asperiores atque dolorem. Vero tempora suscipit officia ipsa
        molestiae.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/support.webp 1x, images/support@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/support.png 1x, images/support@2x.png 2x"
      />
      <img class="content-img" src="images/support.png" />
    </picture>
  </article>
</section>
