<footer class="block block--dark block--footer">
  <div class="container footer">
    <section class="footer__content collapsible">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">Products</h3>
        <span class="chevron-container collapsible__chevron">
          <span class="chevron">⌄</span>
        </span>
      </header>
      <ul class="list collapsible__content">
        <li><a href="/">WordPress Hosting</a></li>
        <li><a href="/">Free Automated WordPress</a></li>
        <li><a href="/">Migration</a></li>
        <li><a href="/">Domain Names</a></li>
        <li><a href="/">Monthly Web Hosting</a></li>
      </ul>
    </section>
    <section class="footer__content collapsible">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">Company</h3>
        <span class="chevron-container collapsible__chevron">
          <span class="chevron">⌄</span>
        </span>
      </header>
      <ul class="list collapsible__content">
        <li><a href="/">About</a></li>
        <li><a href="/">Affiliates</a></li>
        <li><a href="/">Blog</a></li>
        <li><a href="/">Carears</a></li>
        <li><a href="/">Commiunity</a></li>
        <li><a href="/">News</a></li>
      </ul>
    </section>
    <section class="footer__content collapsible">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">Support</h3>
        <span class="chevron-container collapsible__chevron">
          <span class="chevron">⌄</span>
        </span>
      </header>
      <ul class="list collapsible__content">
        <li><a href="/">Contact</a></li>
        <li><a href="/">Knowledge Based</a></li>
        <li><a href="/">Forumes</a></li>
        <li><a href="/">System Status</a></li>
        <li><a href="/">Web Hosting</a></li>
        <li><a href="/">Dream Comute</a></li>
      </ul>
    </section>
    <section class="footer__content collapsible">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">Domain</h3>
        <span class="chevron-container collapsible__chevron">
          <span class="chevron">⌄</span>
        </span>
      </header>
      <ul class="list collapsible__content">
        <li><a href="/">Domain Checker</a></li>
        <li><a href="/">Domain Transfer</a></li>
        <li><a href="/">Free Domain</a></li>
        <li><a href="/">xyz Domain</a></li>
        <li><a href="/">Cheap SSL Certificate</a></li>
      </ul>
    </section>
    <section class="footer__brand">
      <a href="/">
        <svg class="nav__link-logo">
          <use href="images/logo.svg"></use>
        </svg>
      </a>
      <p>Copyright © 2026 Mosh</p>
    </section>
  </div>
</footer>
