<span class="icon-container">
  <svg class="icon" viewBox="0 0 501.656 501.656">
    <use href="../images/clock.svg"></use>
  </svg>
</span>

<span class="icon-container">
  <svg class="icon icon--primary" viewBox="0 0 64 64">
    <use href="../images/computer.svg"></use>
  </svg>
</span>

<span class="icon-container">
  <svg class="icon icon--primary" viewBox="0 0 512 512">
    <use href="../images/easy.svg"></use>
  </svg>
</span>

<span class="icon-container">
  <svg class="icon" viewBox="0 0 512 512">
    <use href="../images/growth.svg"></use>
  </svg>
</span>

<span class="icon-container">
  <svg class="icon" viewBox="0 0 50 2">
    <use href="../images/line.svg"></use>
  </svg>
</span>

<span class="icon-container">
  <svg class="icon" viewBox="0 0 24 24">
    <use href="../images/menu.svg"></use>
  </svg>
</span>

<span class="icon-container">
  <svg class="icon" viewBox="0 0 21.8 23.8">
    <use href="../images/search.svg"></use>
  </svg>
</span>

<span class="icon-container">
  <svg class="icon" viewBox="0 0 485.656 485.656">
    <use href="../images/settings.svg"></use>
  </svg>
</span>

<span class="icon-container">
  <svg class="icon" viewBox="0 0 512 512">
    <use href="../images/snap.svg"></use>
  </svg>
</span>

<span class="icon-container">
  <svg class="icon" viewBox="0 0 512 512">
    <use href="../images/wordpress.svg"></use>
  </svg>
</span>
