<div class="media">
  <div class="media__image">
    <svg class="icon" viewBox="0 0 512 512">
      <use href="../images/snap.svg"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque cum culpa
      nam, impedit molestias quis optio explicabo voluptas quae fugiat, facilis
      repudiandae asperiores eligendi nihil dolore omnis exercitationem?
      Similique, quam!
    </p>
  </div>
</div>
