<section class="block block--dark block--skewed-left">
  <div class="showcase">
    <header class="block__header">
      <h2>User-Friendly Control Pannel</h2>
    </header>
    <div class="container grid grid--1x2">
      <picture class="showcase__picture">
        <source
          type="image/webp"
          srcset="images/ipad@2x.webp 2x, images/ipad.webp 1x"
        />
        <img
          src="images/ipad.png"
          alt="Moshified control pannel overview"
          class="content-img"
        />
      </picture>
      <div class="showcase__content">
        <ul class="list">
          <li>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary">
                  <use xlink:href="assets/sprite.svg#snap"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title">Easy Start & Managed Updates</h3>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Itaque cum culpa nam, impedit molestias quis optio.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary">
                  <use xlink:href="assets/sprite.svg#growth"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title">Easy Start & Managed Updates</h3>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Itaque cum culpa nam, impedit molestias quis optio.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary">
                  <use xlink:href="assets/sprite.svg#wordpress"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title">Easy Start & Managed Updates</h3>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Itaque cum culpa nam, impedit molestias quis optio.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
